PROJECT_NAME = Robin
PROJECT_VERSION=2.4.96
PROJECT_PATH = cmd/main.go
PORT = 8008
LOG_ROTATION_SIZE=100000
LOG_ROTATION_TIME=24h
LOG_PATH=./log/
LOG_DEFAULT_FILE_NAME=robin.log
LOG_LEVEL=warn
ROBIN_ADMIN_TOKEN=change-me
ROBIN_DB_HS0_HOST=hs0
ROBIN_DB_HS0_USER=sa
ROBIN_DB_HS0_PASSWORD=change-me
ROBIN_DB_APPSRV_HOST=127.0.0.1
ROBIN_DB_APPSRV_USER=app
ROBIN_DB_APPSRV_PASSWORD=change-me
ROBIN_DB_MYSQL_LOCAL_USER=root
ROBIN_DB_MYSQL_LOCAL_PASSWORD=change-me
ROBIN_DB_MYSQL_DOCKER_USER=root
ROBIN_DB_MYSQL_DOCKER_PASSWORD=change-me
ROBIN_DB_CLICKHOUSE_DOCKER_HOST=clickhouse
ROBIN_DB_CLICKHOUSE_DOCKER_USER=admin
ROBIN_DB_CLICKHOUSE_DOCKER_PASSWORD=change-me
GOOS=windows
GOARCH=amd64
EXE=.exe
