<!-- <div id="tags" style="display: none;">{{.tags}}</div> -->

<div class="text-center">
  <!-- <h4>Получить данные</h4> -->
  <div style="display: flex; align-items: center;">
    <input style="font-family: var(--standart); margin-left: 4px;" type="text" id="searchInput" placeholder="Тэг"
      value="A20_WT_01">
    <div> </div>
    <input style="font-family: var(--standart); margin-left: 4px;" type="datetime-local" id="dateFrom" name="dateFrom"
      value="2023-10-02T21:00:00" placeholder="Дата начала">
    <div> </div>
    <input style="font-family: var(--standart); margin-left: 4px;" type="datetime-local" id="dateTo" name="dateTo"
      value="2023-10-02T21:05:00" placeholder="Дата окончания">
    <div> </div>
    <input style="font-family: var(--standart); width: 50px;  margin-left: 4px;" type="number" id="searchCount"
      placeholder="Количество" value="300">
    <div> </div>
    <button style="font-family: var(--standart); width: 100px;" class="page-number flat-btn-medium" id="searchBtn"
      onclick="getTagOnDate()">Поиск</button>
    <div> </div>
  </div>
  <!-- <ul class="list-group"> -->
  <br>
  <table class="text-list-item">
    {{range .data}}
    {{formatDataString .}}
    {{else}}
    <tr class="text-list-item">
      <td><b>Нет данных.</b></td>
    </tr>
    {{end}}
  </table>
  <!-- </ul> -->
  {{.page}}
</div>