<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Система получения данных АСУТП</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../scripts/bootstrap.bundle.min.js"></script>
    <script src="../scripts/script.js"></script>
</head>

<body class="bg-light d-flex">
    <div class="fixed-top">
        <p>Awesome</p>
    </div>

    <div class="navbar">
        <a class="nav-item nav-link flat-btn text-left ml-3" href="/"><img src="../images/home.png"> Домой</a>
        <a class="nav-item nav-link flat-btn text-left ml-3" href="/log"><img src="../images/log.png"> Лог</a>
        <a class="nav-item nav-link flat-btn text-left ml-3" href="/info"><img src="../images/news.png"> Инфо</a>
        <a class="nav-item nav-link flat-btn text-left ml-3" href="/uptime"><img src="../images/cross.png"> Здоровье</a>
        <div class="resize-handle"></div>
    </div>

    <div class="text-center">
        <img src="../images/icon3.png" class="mx-auto w-100" alt="Robin">
        <h4>Robin</h4>
        <p>Система получения данных АСУТП</p>
    </div>

    <div class="fixed-bottom">
        <p>{{.Name}} v:{{.Version}} 2023</p>
    </div>

</body>

</html>