<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Моя веб-страница</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="/scripts/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex h-screen justify-center items-center bg-gray-300">
    <div class="text-center max-w-lg mx-auto">
        <img src="/images/icon3.png" class="mx-auto my-auto bg-transparent w-full max-w-md" alt="Robin">
        <h1 class="text-2xl font-bold mt-4">Система получения данных АСУТП</h1>
        <p class="text-xl mt-2">{{.Name}} v:{{.Version}}</p>
    </div>
</body>

</html>