<!-- <div id="tags" style="display: none;">{{.tags}}</div> -->

<div class="text-center">
  <h4>Получить данные</h4>
  <div style="display: flex; align-items: center;">
    <input style="font-family: var(--standart)" type="text" id="searchInput" placeholder="Input Tag" value="A20_WT_01">
    <input style="font-family: var(--standart)" type="datetime-local" id="dateFrom" name="dateFrom" value="2022-01-02T21:00:00" placeholder="Дата начала">
    <input style="font-family: var(--standart)" type="datetime-local" id="dateTo" name="dateTo" value="2022-01-02T21:05:00" placeholder="Дата окончания">
    <button style="font-family: var(--standart); width: 100px;" class="page-number" id="searchBtn" onclick="getTagOnDate()">Поиск</button>
  </div>
  <ul class="list-group">
    {{range .info}}
    <li class="text-list-item">
      {{ . }}
    </li>
    {{else}}
    <li class="text-list-item">
      <b>Нет данных.</b>
    </li>
    {{end}}
  </ul>
  {{.page}}
</div>