<div class="navbar">
  <a class="nav-item nav-link flat-btn text-left ml-3" href="#" onclick="loadPage('/')"><img src="../images/home.png"><span>Домой</span></a>
  <a class="nav-item nav-link flat-btn text-left ml-3" href="#" onclick="loadPage('/logs')"><img src="../images/log.png"><span>Лог</span></a>
  <a class="nav-item nav-link flat-btn text-left ml-3" href="#" onclick="loadPage('/info')"><img src="../images/news.png"><span>Инфо</span></a>
  <a class="nav-item nav-link flat-btn text-left ml-3" href="#" onclick="loadPage('/health')"><img src="../images/cross.png"><span>Здоровье</span></a>

  <div class="resize-handle"></div>
</div>
