body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 170px;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: #f8f9fa;
}

.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* padding-top: 10px; */
  background-color: #f8f9fa;
  padding: 0px;
  text-align:  right;
  font-size: x-small;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.fixed-bottom {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0px;
  padding-top: 10px;
  background-color: #f8f9fa;
  font-size: x-small;
  text-align:  right;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 180px;
  height: auto;
  padding: 10px;
  /* padding-top: 45px; */
  background-color: transparent;
  z-index: 1000; /* Это убедится, что навигационная панель всегда отображается поверх других элементов */
  /* aligt items top */
  font-size: medium;
}

.flat-btn {
  background-color: rgba(0, 123, 255, 0.80);
  border: none;
  /* left: -20px; */
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 150px;
  height: 40px;
  font-size: larger;
  /* font-weight: 500; */
  text-decoration: none;
  margin-bottom: 2px;
  /* margin-left: -20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flat-btn:hover {
  background-color: rgb(0, 83, 172, 0.80);
  color: wheat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.flat-btn img {
  padding-left: 5px;
  margin-left: 0px;
  width: 32px;
  height: 32px;
}

.text-center {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.text-center img {
  max-width: 512px;
}

.text-center h4 {
  font-size: medium;
  margin-top: 20px;
}

.text-center p {
  font-size: large;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}

.list-group {
  padding: 0px;
  border: none;
  align-items: center;
  align-content: center;
  text-align: left;
}

.text-list-item {
  font-size: small;
  margin-bottom: -1px;
  padding: 2px;
  border: none;
  list-style-type: none;
  line-height: 28px;
}

.text-list-item .date {
  color: rgba(50, 50, 50, 0.8);
  background-color: rgba(250, 250, 250, 0.3);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: small;
  margin-bottom: 2px;
  margin-right: 5px;
  font-weight: bold;
}

.text-list-item .level {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  /* text-transform: lowercase; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

.text-list-item .ERR {
  background-color: rgba(255, 0, 0, 0.5);
}

.text-list-item .WRN {
  background-color: rgb(255, 255, 0, 0.5);
}

.text-list-item .INF {
  background-color: rgb(0, 128, 0, 0.5);
}

.text-list-item .DBG {
  background-color: rgb(184, 134, 11, 0.5);
}

.text-list-item .TRC {
  background-color: rgb(255, 0, 255, 0.5);
}

.text-list-item .other {
  background-color: rgb(200, 200, 200, 0.5);
}

.img-resize {
  width: 100%;
  height: auto;
}